<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editais</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}"/>
</head>
<body>
    
        <div th:replace="~{fragments/Layout :: custom-header}">
    </div>
    
    
    
    <div class="card shadow-sm mb-4">
        <div class="card-body">
            <form th:action="@{/editais}" method="get" class="row g-3 align-items-center">
                <div class="col-auto">
                    <div class="form-check form-switch mt-2">
                        <input class="form-check-input" type="checkbox" role="switch" name="urgente" value="true"
                               id="urgenteCheck" th:checked="${urgente}"/>
                        <label class="form-check-label fw-bold text-danger" for="urgenteCheck">
                            Mostrar apenas urgentes (ABERTOS fechando em 48h)
                        </label>
                    </div>
                </div>
                <div class="col-auto ms-auto">
                    <button type="submit" class="btn btn-primary btn-sm px-3">Filtrar</button>
                    <button type="button" class="btn btn-secondary btn-sm px-3 ms-2"
                            th:onclick="'window.location.href=\'' + @{/editais} + '\'; return false'">Limpar Filtros
                    </button>
                </div>
            </form>
        </div>
    </div>
    
    
        <div class="container">
            <div class="row justify-content-center">               
    <table class="table table-striped-columns">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data Fechamento</th>
            <th>Status</th>
        </tr>
        <tr th:each="edital : ${editais}">
            <td th:text="${edital.id}"></td>
            <td th:text="${edital.titulo}"></td>
            <td th:text="${edital.descricao}"></td>
            <td th:text="${edital.data_fechamento}"></td>
            <td th:text="${edital.status}"></td>
        </tr>
    
    </table>
      
    </div>
        </div>
            
   
</body>
</html>