<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Editais</title>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.8/css/bootstrap.min.css}"/>
</head>
<body>
    <br><h1 class="text-center mb-4">Lista de Editais</h1><br><br>
    
    
        <div class="container">
            <div class="row justify-content-center">               
    <table class="table table-striped-columns">
        <tr>
            <th>ID</th>
            <th>Título</th>
            <th>Descrição</th>
            <th>Data Fechamento</th>
            <th>Status</th>
        </tr>
        <tr th:each="edital : ${editais}">
            <td th:text="${edital.id}"></td>
            <td th:text="${edital.titulo}"></td>
            <td th:text="${edital.descricao}"></td>
            <td th:text="${edital.data_fechamento}"></td>
            <td th:text="${edital.status}"></td>
        </tr>
    
    </table>
      
    </div>
        </div>
            
   
</body>
</html>